body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(10deg, black, #8c00ff, black);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    background: #fff;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
    color: #8c00ff;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-color: #8c00ff;
    box-shadow: 0 0 5px rgba(140, 0, 255, 0.5);
}

#button_container {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #8c00ff;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #480083;
    transform: scale(1.05);
}

button:active {
    background-color: #6a00b3;
    transform: scale(0.98);
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(113, 28, 153, 0.8);
}

@media (max-width: 480px) {
    div {
        width: 90%;
        padding: 15px;
    }

    h2 {
        font-size: 1.5rem;
    }

    input {
        font-size: 0.9rem;
    }

    button {
        font-size: 0.9rem;
    }
}

footer {
    background-color: #480083; /* Colore di sfondo coerente con il design */
    color: #fff; /* Testo bianco per contrasto */
    text-align: center; /* Allinea il testo al centro */
    padding: 10px; /* Aggiunge un po' di spazio attorno al testo */
    font-size: 0.9em; /* Leggermente più piccolo per i crediti */
    border-top: 1px solid #8c00ff; /* Linea separatrice per evidenziare il footer */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    position: fixed;  /* Fisso in basso */
    bottom: 0;        /* Posizionato alla base della finestra */
    width: 100%;      /* Occupare tutta la larghezza */
}

footer p {
    margin: 0;        /* Rimuovi margini */
    line-height: 1.6; /* Aumenta la leggibilità tra le righe */
}

#text {
    color: #000000;
}